version: '3'

services:
  api:
    container_name: serviceweb-java
    image: serviceweb-0.0.1-snapshot
    build:
      context: ./
      dockerfile: Dockerfile
    ports:
      - 8081:8081
    restart: always